fleetmgt/FleetMgt/FleetMgt/Permissions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Permissions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Perm">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PermissionID" type="xs:string" />
                            <xs:element name="PermName" type="xs:string" />
                            <xs:element name="PermType" type="xs:unsignedByte" />
                            <xs:element name="PermLevel" type="xs:unsignedByte" />
                            <xs:element name="FatherID" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>